<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/secure.png" type="image/x-icon">
    <title>Secure Transfer</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="body">
    <img class="logo" src="/secure.png" alt="logo">
    <H1>Secure Transfer</H1>
    <% if(locals.error) { %>
        <div class = "incorrect edited" style="color:red; margin-bottom: 1rem;">
            Incorrect Password
        </div>
    <% } %> 
    <form method="post" >
        <tr>
        <td><label for="Password">Password:</label></td>
        <td><input type="password" id="password" name="password" required></td>
        </tr>
        <button type="submit">Download</button>
    </form>

</div>
</body>
</html>